/* * {
 border: 1px solid purple;
} */

body {
    font-family: Arial, sans-serif
  }

  
svg {
    overflow: visible;
    margin: 20px;
  }
  
  .uiPanel {
    height:150px;
    width: 150px;
    float: left;
  }

  .radioPanel{
    font-size: 14px;
    float: left;
  }

  input, button {
    padding: 5px;
    border-radius: 3px;
    margin: 5px 2px;
  }

  input {
    height: 14px;
    width: 85px;
  }

  button {
    background: #B3E5FC;
    color: black;
    border: 0;
    outline: none;
    height: 30px;
    width: 110px;
  }
  
  select{
    font-size: 16px;
  }
  #xAxis{
    font-size: 16px;
  }
  
  #yAxis{
    font-size: 16px;
  }

  #barchart{
    padding-left: 100px;
  }

/* 添加一些基本的樣式 */
/* Header styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px; /* 固定高度 */
}

.hamburger-menu {
  cursor: pointer;
  font-size: 24px;
  width: 10px;
  margin-right: 20px;
}

.bar {
  fill: steelblue;
}
.bar:hover {
  fill: orange;
}
.axis-label {
  font-size: 12px;
}
.year_filter {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.year_filter label {
  padding: 10px;
}
/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 73px; /* 調整以符合 header 高度 */
  left: -450px; /* 調整以符合 sidebar 寬度 */
  width: 450px;
  height: calc(100% - 50px); /* 減去 header 高度 */
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: left 0.3s;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}
/* Main content styles */
.main-content {
  margin-top: 50px; /* 調整以符合 header 高度 */
}

.top_div {
  display: flex;
  padding-left: 50px;
}
.middle_div {
  display: flex;
  padding-left: 100px;
}
.end_div {
  padding-left: 60px;
}
#jobFilter {
  max-height: 650px;
  overflow-y: auto;
}
.job_filter {
  padding: 10px;
}
.job-checkbox {
  margin: 5px 0;
}
.scatterplot_part {
  width: 1130px;
}
.scatterplot_control {
  padding-top: 20px;
  padding-left: 100px;
}
#scatterPlot {
  padding-left: 100px;
}
.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

