/* * {
 border: 1px solid purple;
} */


body {
    font-family: Arial, sans-serif
  }

  
svg {
    overflow: visible;
    margin: 20px;
  }
  
  .uiPanel {
    height:150px;
    width: 150px;
    float: left;
  }

  .radioPanel{
    font-size: 14px;
    float: left;
  }

  input, button {
    padding: 5px;
    border-radius: 3px;
    margin: 5px 2px;
  }

  input {
    height: 14px;
    width: 85px;
  }

  button {
    background: #B3E5FC;
    color: black;
    border: 0;
    outline: none;
    height: 30px;
    width: 110px;
  }
  
  select{
    font-size: 16px;
  }
  #xAxis{
    font-size: 16px;
  }
  
  #yAxis{
    font-size: 16px;
  }

  #barchart{
    padding-left: 100px;
  }

/* 添加一些基本的樣式 */
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: orange;
}
.axis-label {
  font-size: 12px;
}
.year_filter {
  width: 250px;
  margin: 20px;
  padding-left: 100px;
}
.top_div {
  display: flex;
  padding-left: 100px;
}
.middle_div {
  display: flex;
  padding-left: 100px;
}
.end_div {
  padding-left: 60px;
}
#jobFilter {
  max-height: 500px;
  overflow-y: auto;
}
.job_filter {
  width: 500px;
}
.job-checkbox {
  margin: 5px 0;
}
.scatterplot_part {
  width: 1130px;
}
.scatterplot_control {
  padding-top: 20px;
  padding-left: 100px;
}
#scatterPlot {
  padding-left: 100px;
}
.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

